:root {
    --primary-color-pink: hsl(322, 100%, 66%);
    --primary-color-lightpink: hsl(321, 100%, 78%);
    --primary-color-red: hsl(0, 100%, 63%);
    --neutral-color-verydarkcyan: hsl(192, 100%, 9%);
    --neutral-color-verypaleblue: hsl(207, 100%, 98%);
    --font-heading: "Poppins", sans-serif;
    --font-body: "Open-Sans", sans-serif;
    --padding-mobile: 0 1rem;
    --padding-images: 4rem;
    --margin-section: 7rem auto;
    --margin-section-footer: 5rem auto 0 auto;
    --margin-elements: 1rem auto;
    --padding: 0 1rem;
    --padding-nav: 1rem;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }
  
  .logo {
    width: 30%;
    max-width: 10rem;
  }
  
  .main-image {
    height: auto;
    max-width: 50%;
    
  }
  
  section,
  img section,
  p section,
  h1 {
    padding: var(--padding);
  }
  
  h1 ~ p,
  h3 ~ p {
    width: 100%;
    max-width: 25rem;
  }
  
  .btn {
    height: 3rem;
    width: 50%;
    max-width: 20rem;
    border-radius: 25px;
    border: none;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color-pink);
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn:hover {
    background-color: var(--primary-color-lightpink);
  }
  
  .btn.top {
    margin-top: 1rem;
  }
 
  
  /* mobile */
  
  body {
    font-size: 14px;
    text-align: center;
    font-family: var(--font-body);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-nav);
  }
  
  nav #cta {
    height: 1.5rem;
    width: 30%;
    max-width: 8rem;
    border-radius: 25px;
    border: 1px solid var(--primary-color-lightpink);
    box-shadow: 0 0 5px 0.5px var(--primary-color-lightpink);
    background: none;
    color: var(--primary-color-lightpink);
    font-family: var(--font-heading);
    cursor: pointer;
  }
  
  .feature {
    margin: var(--margin-section);
    width: 90%;
  }
  
  .stats .stats-icon {
    height: 2rem;
    margin-right: 5rem;
  }
  .stats h2 {
    font-size: 3rem;
    line-height: 2;
  }
  
  .stats p:not(:last-of-type) {
    margin-bottom: 5rem;
  }
  
  .grow-together {
    position: relative;
    background-color: var(--neutral-color-verypaleblue);
    width: 100%;
  }
  .grow-together h3,.flowing-conversations h3,.your-users h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-weight: 700;
  }
  .grow-together p,.flowing-conversations p,.your-users p{
    font-size: 1rem;
   
  }
  .flexbox-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
   .flexbox-two h3{
    justify-content: flex-start;
   }
  .flexbox-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flowing-conversations{
    width: 100%;
  }
  .your-users {
    position: relative;
    background-color: var(--neutral-color-verypaleblue);
  }
  
  .ready-to-build {
    margin: 15rem 0 15rem 0;
  }
  
  .ready-to-build .btn {
    margin-top: 1rem;
  }
  
  footer {
    position: relative;
    background: var(--neutral-color-verydarkcyan);
    color: white;
    padding: var(--padding);
    padding-top: 4rem;
    text-align: left;
  }
  
  #footer-form {
    width: 100%;
    max-width: 25rem;
  }
  
  footer #email {
    height: 2rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    color: rgba(0, 0, 0, 0.3);
  }
  
  footer input[type="email"] {
    box-sizing: border-box;
    padding: 1rem;
  }
  
  .footer-btn {
    width: 10rem;
    height: 2rem;
    background-color: var(--primary-color-pink);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .footer-btn:hover {
    background-color: var(--primary-color-lightpink);
  }
  
  footer input[type="submit"] {
    display: block;
    margin-left: auto;
  }
  
  .footer-info {
    margin: var(--margin-section-footer);
    text-align: left;
  }
  
  /* .footer-info .fa { */
    /* padding: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    border: 2px solid;
    width: 1.3rem;
    color: var(--neutral-color-verydarkcyan); */
    /* background-color: white; */
  /* } */
  
  #footer-page-creator {
    font-size: 0.6rem;
    color: white;
    padding: 1rem;
    background-color: var(--neutral-color-verydarkcyan);
  }
  
  #footer-page-creator a {
    color: var(--primary-color-pink);
    font-weight: bold;
    opacity: 0.7;
  }
  
  #footer-phone,
  #footer-email {
    margin: 1rem 0;
  }
  
  /* mobile backgrounds */
  .top-mobile,
  .bottom-mobile {
    display: block;
  }
  
  .top-desktop,
  .bottom-desktop {
    display: none;
  }
  
  /* //mobile backgrounds */
  
  @media screen and (min-width: 375px) {
    body {
      font-size: 16px;
    }
  
    nav {
      width: 90%;
      margin: auto;
    }
  
    .feature > p {
      margin: 0 auto;
    }
  
    .stats {
      display: inline-flex;
      justify-content: space-around;
      width: 50%;
    }
  
    .stats-flex-item:nth-of-type(1) {
      margin-right: 1.5rem;
    }
  
    .flexbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flexbox-two {
      order: -1;
      text-align: left;
    }
  
    .flowing-conversations.flexbox-two {
      order: 1;
    }
  
    /* mobile backgrounds */
  
    .top-mobile,
    .bottom-mobile {
      display: none;
    }
  
    .top-desktop,
    .bottom-desktop {
      display: block;
      width: 100%;
    }
  
    /* //mobile backgrounds */
  }
  
  @media screen and (min-width: 700px) {
    h1,
    h2,
    h3 {
      margin: 0;
    }
  
    .footer-flexbox {
      display: flex;
      justify-content: space-around;
    }
  
    #footer-form {
      display: flex;
      align-items: center;
    }
  
    footer input[type="submit"] {
      margin-left: 0.5rem;
    }
  
    .newsletter {
      order: 2;
      width: 40%;
      max-width: 25rem;
    }
  
    .footer-info {
      margin: 0;
      width: 40%;
      max-width: 25rem;
    }
  }

  @media screen and (max-width: 768px) {
    body{
      margin: 0;
    }
    section{
      width: 100%;
      padding: 0;
    }
    .grow-together{
      flex-direction: column-reverse;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    .flexbox-main{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .flexbox-two{
      flex-direction: column;
      width: 90%;
      text-align: center;
    }
    .flowing-conversations,.your-users,.stats{
      flex-direction: column;
    }
  

  }
  